      /* * * * * * */
      /* variables */
      /* * * * * * */

:root {
  --color-main: #000;
  --color-bg: #c7d5c7;
  --color-highlight: mintcream;
  --color-hover: #e3e3e3;
  --spacing-xs: 10px;
  --spacing-s: 20px;
  --spacing-m: 30px;
  --spacing-l: 50px;
  --spacing-xl: 200px;
}

html {
  font-family: 'Source Serif Pro', serif;
  font-size: 10px;
  color: var(--color-main);
  background: var(--color-bg);
}

body {
  opacity: 0;
  transition: opacity 1.5s;
}
.ready body {
  opacity: 1;
}

/* reset */
body, h1, h2, h3, p, blockquote, ul, li, a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

      /* * * * * */
      /* layout  */
      /* * * * * */

body {
  position: relative;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}
section.cover {
  position: relative;
  border-top: none;
  height: 100vh;
  width: 100vw;
  background: url(../images/Whalen-cover.jpeg);
  background-size: cover;
}
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 20px;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
}

.image-wrapper {
  margin-top: 30px;
  display: block;
}
img {
  float: left;
  margin-right: 20px;
  margin-bottom: var(--spacing-xs);
  width: 100%;
  max-width: 250px;
}

      /* * * * * * * */
      /* typography  */
      /* * * * * * * */

h1 {
  position: absolute;
  display: inline-block;
  border-bottom: 2px solid var(--color-highlight);
  font-size: 6rem;
  font-weight: 400;
  font-style: italic;
}
h1:not(.main) {
  top: 80px;
}

h1.main {
  z-index: 1;
  bottom: 50px;
  right: 100px;
  border: 2px solid var(--color-highlight);
  padding: 10px 30px;
  font-style: italic;
  text-align: center;
  color: var(--color-highlight);
  transition: background-color 0.25s;
}
h1.main:hover {
  background-color: rgba(0,0,0,.4);
}

p {
  margin-bottom: var(--spacing-m);
  font-size: 3.5rem;
  line-height: 5.25rem;
  text-indent: 50px;
  hyphens: auto;
}
p:last-child {
  margin-bottom: 0;
}
p.footnote {
  margin-top: var(--spacing-xs);
  font-size: 2rem;
  line-height: 3.4rem;
  font-style: italic;
  text-indent: 0;
}
p.address {
  text-align: center;
  text-indent: 0;
}
p.address + p.address {
  margin-top: -30px;
}

section.contact p {
  margin: 100px 0;
}

a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline-offset: 5px;
}

      /* * * * */
      /* menu  */
      /* * * * */

menu {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  margin: 0;
  border: 2px solid var(--color-hover);
  padding-inline-start: 0;
  padding: 10px 0;
  min-width: 100px;
  text-align: center;
  background: var(--color-bg);
}
.home menu {
  border: 2px solid transparent;
}

menu li {
  list-style-type: none;
  font-size: 2.25rem;
  outline-offset: 5px;
}
menu li + li {
  margin-top: 5px;
}
menu li:hover,
menu li.current {
  font-style: italic;
}
menu li.current {
  color: var(--color-highlight);
}
menu a {
  text-decoration: none;
}

      /* * * * * * * * * */
      /* responsiveness  */
      /* * * * * * * * * */

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
  section,
  section.cover {
    display: block;
    height: 100%;
  }
  .content {
    min-height: 0;
  }
  h1:not(.main) {
    top: 100px;
  }
  h1.main {
    box-sizing: border-box;
    bottom: 30px;
    right: 0;
    border: none;
    width: 100%;
  }
  h1.main:hover {
    background-color: transparent;
  }
  img {
    float: none;
  }
  menu {
    border: 2px solid var(--color-highlight);
  }
  menu li.current:first-child + li {
    margin-top: 0;
  }
  menu li.current {
    display: none;
  }
}